.NavBar_box-title {
    font-family: 'Mukta', sans-serif;
    color: white;
    font-size: 3.5rem;
} 
.material-symbols-outlined {
    font-size: 2.5rem;
    color: #66999B;
}
.font-link {
    font-family: 'Solitreo', cursive;
    color: #66999B;
}
  