.NavBar_box-title {
    font-family: 'Mukta', sans-serif;
    color: white;
    font-size: 3.5rem;
} 
#navbar__cartWidget {
    font-size: 2.5rem;
    color: #66999B;
}
.navbar__cartWidget__counter {
    font-size: 1.4rem;
    color: #66999B;
}
.font-link {
    font-family: 'Solitreo', cursive;
    color: #66999B;
}
.body__Container{
    height: calc(100vh - 91px - 88px);
    margin: 0;
    padding: 0;
}
.item__card{
    height: 32rem;
    width: 15rem;
}
.item__card__image{
    height: 15rem;
    width: 15rem;
}
.item__card__headingName{
    font-size: 1.3rem;
    font-weight: bolder;
}
.item__card__headingArtist{
    font-size: 1rem;
    font-weight: bold;
}
.item__oopsText{
    font-size: 1.5rem;
    text-align: center;
}
.itemDetail__card__image{
    height: 25rem;
    width: 25rem;
}
.itemDetail__card{
    height: 25rem;
    width: 50rem;
    display: flex;
    align-items: center; 
}
.itemDetail__card__headingName{
    font-size: 2rem;
    font-weight: bolder;
}
.itemDetail__card__headingArtist{
    font-size: 1.4rem;
    font-weight: bold;
}
.itemDetail__container{
    display: flex;
    flex-direction: column;
    align-items: center;
} 
.itemDetail__card__description{
    text-align: justify;
}
.itemCount__boxBtns{
    display: flex;
    flex-direction: column;
}
.itemCount__boxCounterAndAddCart{
    display: flex;
    justify-content: space-evenly;
}
.cartItem__div{
    display: flex;
    justify-content: center;
}
.cartItem__card{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 70rem;
    border-width: 1px;
    border-radius: 10px;
    border-color: rgb(210, 210, 210);
    margin: 10px;

}
.cartItem__card__leftBox, .cartItem__card__rightBox{
    display: flex;
    align-items: center;
}
.cartItem__card__img{
    height: 6rem;
    width: 6rem;
    border-radius: 20px;
    padding: 0.5rem;
}